<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Home page</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<p>
  <span th:text="List of products"></span>
</p>

<div th:if="${ not#lists.isEmpty(customers)}">
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>IS ACTIVE</th>
    </tr>
    <tr th:each="customer : ${customers}">
      <td th:text="${customer.id}"></td>
      <td th:text="${customer.firstName+customer.lastName}"></td>
      <td th:text="${customer.email}"></td>
      <td th:text="${customer.isActive}"></td>
    </tr>
    <table>
</div>
</body>
</html>